@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: black;
  overflow: hidden;
  cursor: url("../public/gun.svg"), auto !important;
}

.alien {
  animation-duration: 0.6s;
  animation-name: slidup;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}

@keyframes slidup {
  0% {
    transform: translateY(0px);
    z-index: -10;
  }
  10% {
    transform: translateY(0px);
    z-index: -10;
  }
  20% {
    transform: translateY(0px);
    z-index: -10;
  }
  50% {
    transform: translateY(-50px);
    z-index: 0;
  }
  60% {
    z-index: 0;
    transform: translateY(-50px);
  }
  100% {
    z-index: 0;
    transform: translateY(-50px);
  }
}
